.MuiFormHelperText-root {
   color: brown !important;

}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
   font-size: large !important;
   color: #585858 !important;
}

.css-953pxc-MuiInputBase-root-MuiInput-root::after {
   border-bottom: 2px solid #585858 !important;
}